<div class="nav">
    <div class="topnav-right">
        <a href="/homepage">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Services
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/otd">OTD</a>
                <a href="/packages">Packages</a>
            </div>
        </div>

        <% if (!req.loggedin) {%>
            <a href='/login'>Login</a></li>
            <a href='/dabbawalajoin'>Join As Dabbawala</a></li>
            <% } else {%>
                <a href='/logout'>Logout</a></li>
                <a href='/user_dashboard'>Dashboard</a></li>
                <% } %>
    </div>

    <img class="logo" src="Images/logo4.png">

    <script>
        const currentPage = location.href;
        const menuItem = document.querySelectorAll('a');
        const menuLength = menuItem.length;
        for (let i = 0; i < menuLength; i++) {
            if (menuItem[i].href === currentPage) {
                menuItem[i].className = "active";
            }
        }
    </script>
</div>