<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="CSS/order_details_user.css">
    <link rel="stylesheet" href="CSS/navbar.css">
    <link href="https://fonts.googleapis.com/css2? family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <script type="text/javascript" src="js/location.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script> -->

    <title>Order Details</title>

</head>

<body>
    <div class="nav">
        <div class="topnav-right" id="nav">
          <a href="/homepage" class="active" >Home</a>
           
           <div class="dropdown">
                <button class="dropbtn">Services
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/otd">OTD</a>
                    <a href="/packages">Packages</a>
                </div>
            </div>
       
                <a href="/dabbawalajoin">Join Us Dabbawala</a>
                <a href="/login">Login</a>
                <a href="/logout" class="active">Log out</a>
              
                    <a href="/user_dashboard">Dashboard</a>
          
        </div>
    </div>
        <center>
            <h2 style="font-size:50px; color: black;">Order Details</h2>
        </center>
        <center>
            <div class="fakeimg row2">
                <div class="column2 left2">
                    <p><strong>Placed On:</strong> 12th September, 2021</p>
                    <p><strong>Service Type:</strong> Delivery Package</p>
                    <p><strong>Package Duration:</strong> 3 Months</p>
                    <p><strong>Expires On:</strong> 13th December, 2021</p>
                </div>
                <div class="column2 right2">
                    <p><strong>Payment:</strong> Rs. 1500</p>
                    <p><strong>Pick-Up Address:</strong> Sadhana Building, Vasant Complex, Mahavir Nagar, Kandivali (W)
                    </p>
                    <p><strong>Drop-Off Address:</strong> Sadhana Building, Vasant Complex, Mahavir Nagar, Kandivali (W)
                    </p>
                </div>
                <div class="btn-group">
                    <center><button>Edit Address</button>
                        <button>Schedule a Holiday</button>
                    </center>
                </div>
            </div>
        </center>
        <br><br>

        <center>
            <h2 style="font-size:30px; color:black; margin-left: 30px;">Live Location</h2>
        </center>

        <!-- <input class="lat" type="text" id="latitude"></label><br />
        <input class="long" type="text" id="longitude"></label> -->
        <center>
            <div id="mapid"></div>
        </center>
        <br><br>

        <center>
            <footer id="footer">
                <div class="copyright">
                    <p>© All rights reserved | My Dabbawala</p>
                    <ul class="contact">
                        <li>
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-instagram"></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </center>

        <script src="js/get_map.js"></script>
        <!-- <script src="js/user_address.js"></script>-->
        <script src="js/add_location_marker.js"></script>
        <!-- <script>
            const lat = document.getElementById("latitude");
            const long = document.getElementById("longitude");

            const mymap = L.map('mapid').setView([19.1619741, 72.8424288], 13);
            const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            const tiles = L.tileLayer()


            console.log(lat);
            console.log(long);

        </script> -->

</body>

</html>