<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="CSS/navbar.css">
    <link rel="stylesheet" type="text/css" href="CSS/signup.css">
    <script type="text/javascript" src="js/location.js"></script>
    <script type="text/javascript" src="js/signup_validations.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="nav">
        <div class="topnav-right" id="nav">
          <a href="/homepage"  >Home</a>
           
           <div class="dropdown">
                <button class="dropbtn">Services
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/otd">OTD</a>
                    <a href="/packages">Packages</a>
                </div>
            </div>
       
                <a href="/dabbawalajoin">Join Us Dabbawala</a>
                <a href="/login" class="active">Login</a>
                <a href="/logout" class="active">Log out</a>
                    <a href="/user_dashboard">Dashboard</a>
               
        </div>
    </div>
        <input style="display: none;" type="text" id="latitude">
        <input style="display: none;" type="text" id="longitude">

        <div class="signup_background">
            <div class="signup_container">
                <h1>SIGN UP</h1>
                <form action="/signup" method="POST" onsubmit="return validateForm()">
                    <label>Username</label><br>
                    <center><input type="text" placeholder="Enter your username" required name="username"></center><br>
                    <label>Email</label><br>
                    <center><input type="text" placeholder="Enter your email" required name="email"></center><br>
                    <label>Mobile number</label><br>
                    <center><input type="text" placeholder="Enter your phone" required name="mobile"></center><br>
                    <label>Password</label><br>
                    <center><input type="password" placeholder="Enter password" required name="password"></center><br>
                    <label>Confirm Password</label><br>
                    <center><input type="password" placeholder="Confirm Password" required name="confirmpassword">
                    </center>
                    <br>
                    <center>
                        <p>Already have an account? <a href="/login">Login</a></p>
                    </center>
                    <center><button type="submit">Sign Up</button></center>
                </form>
            </div>
        </div>
</body>

</html>