<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dabbawala</title>
	<link rel="stylesheet" href="CSS/homepage.css">
    <link rel="stylesheet" href="CSS/navbar.css">
	<link href="https://fonts.googleapis.com/css2? family=Ubuntu+Mono&display=swap" rel="stylesheet">	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="nav">
        <div class="topnav-right">
            <a class="active" href="/">Home</a>
            <a href="#about">About</a>
            <div class="dropdown">
                <button class="dropbtn">Services 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/otd">OTD</a>
                    <a href="/packages">Packages</a>
                </div>
            </div>
            <a href="/dabbawalajoin">Join as Dabbawala</a>
            <a href="#contactus">Contact Us</a>
            <a href="/login">Login</a>
        </div>
        <img class="logo" src="Images/logo4.png">
    </div>

    <div class="hero-image">
        <img src="Images/dabba_hero.jpg" alt="Dabbawala" width=100% height=70%>
        <div class="hero-text">
          <h1 style="font-size:70px;">MY DABBAWALA</h1>
          <h2 style="font-size:30px;">ONLINE DABBAWALA SERVICE</h2>
          <button>Explore</button>
        </div>
    </div>

    <div>
        <center><h2 style="font-size:50px; color:#fa3131;">About Us</h2></center>
        <center><div class="row2" id="rcorner">
            <div class="column2 left2">
                <img src="Images/dabba5.jpg" alt="Dabbawala Icon" class="center">
            </div>
            <div class="column2 right2">
                <p style="font-size:9px; color:white;">Hello it's me</p>
                <p align="justify">With My Dabbawala, we aim to combine technology with the trusted Dabbawala network to provide smooth door-to-door tiffin delivery. We want to help users connect to Dabbawalas quickly through our application. We will help users track and manage their tiffin delivery. Users will have an option of one time delivery as well as delivery subscription packages.</p>
            </div>
          </div></center>
    </div>

    <br><br>
    <div>
        <center>
            <h2 style="font-size:50px; color:#fa3131;">Services</h2>
        </center>
        <br><br>
        <div>
            <img style="float: right; margin: 0px 0px 15px 15px; width:40%;" src="Images/d1.jpg" width="100" />
            <br>
            <h2 style="font-size: 12px; color:white; margin-left: 30px;">Delivery Packages</h2>
            </center>
            <center>
                <h2 style="font-size:35px; color:black; margin-left: 30px;">One Time Delivery</h2>
            </center>
            <p class="center2">
                One time delivery is for users who require delivery of their dabba or tiffin on a particular day
                itself. You can enter the pick-up point and the drop-off point and your dabba will be delivered in a
                jiffy. Go ahead and click on the button below to get your dabba delivered today!
            </p>
            <br>
            <center><button>Explore</button></center>
        </div>

        <br><br><br><br><br><br><br><br>
        <div>
            <img style="float: left; margin: 0px 15px 15px 0px; width:41%;" src="Images/dabba3.jpg" width="100" />
            <br>
            <h2 style="font-size: 12px; color:white; margin-left: 30px;">Delivery Packages</h2>
            </center>
            <center>
                <h2 style="font-size:35px; color:black; margin-left: 30px;">Delivery Packages</h2>
            </center>
            <p class="center3">
                Delivery Packages consists of various plans such as 3 months, 6 months, and a yearly plan which can
                be chosen according to your requirements. You can enter the pick-up point and the drop-off point and
                your dabba will be delivered everyday for the chosen package duration. Go ahead and click on the
                button below to get your dabba delivered everyday!
            </p>
            <br>
            <center><button>Explore</button></center>
        </div>
    </div>
    <br><br><br><br><br><br><br>

    <div class="container">
        <div style="text-align:center">
            <h2 style="font-size:30px; color:#fa3131;">Get In Touch!</h2>
            <p>Call us on <strong>+91 1234567890</strong> (10.30am to 5.00pm Monday to Saturday), or leave us a message:</p>
        </div>
        <div class="row">
            <div class="column">
                <img src="Images/contactus.jpg" style="width:90%; margin-left: 25px;">
            </div>
            <div class="column">
                <form>
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your first name..." required>
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..." required>
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" placeholder="Your email..." required><br>
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write a message..." style="height:170px" required></textarea>
                </form>
            </div>
            <center><button type="submit">Submit</button></center><br>
        </div>
    </div>

    <footer id="footer">
        <div class="copyright">
            <p>© All rights reserved | My Dabbawala</p>
            <ul class="contact">
                <li>
                    <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-instagram"></a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
