<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="CSS/navbar.css">
    <link rel="stylesheet" type="text/css" href="CSS/login.css">
</head>

<body>
    <div class="nav">
        <div class="topnav-right">
            <a href="homepage.html">Home</a>
            <a href="#about">About</a>
            <div class="dropdown">
                <button class="dropbtn">Services
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#otd">OTD</a>
                    <a href="#packages">Packages</a>
                </div>
            </div>
            <a href="dabbawalajoin.html">Join as Dabbawala</a>
            <a href="#contactus">Contact Us</a>
            <a class="active" href="login.html">Login</a>
        </div>
        <img class="logo" src="Images/logo4.png">
    </div>

    <div class="login_background">
        <div class="login_container">
            <h1>LOGIN</h1><br>
            <form method="POST">
                <label>Username / Email</label><br>
                <center><input type="text" placeholder="Enter your username" required></center><br><br>
                <label>Password</label><br>
                <center><input type="password" placeholder="Enter password" required></center><br>
                <center>
                    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                </center>
                <center><button type="submit">Login</button></center>
            </form>
        </div>
    </div>

</body>

</html>