<div class="nav">
    <div class="topnav-right">
        <a href="/homepage">Home</a>
        <a href="/about">About</a>
        <div class="dropdown">
            <button class="dropbtn">Services
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/otd">OTD</a>
                <a href="/packages">Packages</a>
            </div>
        </div>
        <a class="active" href="/dabbawalajoin">Join as Dabbawala</a>
        <a href="#contactus">Contact Us</a>
        <a href="/login">Login</a>
    </div>
    <img class="logo" src="Images/logo4.png">
</div>