<div class="nav">
    <div class="topnav-right" id="nav">
        <a href="/homepage">Home</a>

        <div class="dropdown">
            <button class="dropbtn">Services
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/otd">OTD</a>
                <a href="/packages">Packages</a>
            </div>
        </div>

        <a href="/user_dashboard">Dashboard</a>
        <div class="dropdown">

            <button class="dropbtn">Login
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">
                <a href="/login">Login</a>
                <a href="/dabbawalajoin">Join As Dabbawala</a>
                <a href="/logout">Logout</a>
            </div>
        </div>



    </div>

    <img class="logo" src="Images/logo4.png">

    <script>
        const currentPage = location.href;
        const menuItem = document.querySelectorAll('a');
        const menuLength = menuItem.length;
        for (let i = 0; i < menuLength; i++) {
            if (menuItem[i].href === currentPage) {
                menuItem[i].className = "active";
            }
        }
    </script>
</div>