<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
        <title>Order Details</title>
        <link rel="stylesheet" href="CSS/order_details_user.css">
        <link rel="stylesheet" href="CSS/navbar.css">
        <link href="https://fonts.googleapis.com/css2? family=Ubuntu+Mono&display=swap" rel="stylesheet">	
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <div class="nav">
        <div class="topnav-right">
            <a href="/">Home</a>
            <a href="#about">About</a>
            <div class="dropdown">
                <button class="dropbtn">Services 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/otd">OTD</a>
                    <a href="/packages">Packages</a>
                </div>
            </div>
            <a href="/dabbawalajoin">Join as Dabbawala</a>
            <a href="#contactus">Contact Us</a>
            <a class="active" href="/login">Login</a>
        </div>
        <img class="logo" src="Images/logo4.png">
    </div>

    <center><h2 style="font-size:50px; color: black;">Order Details</h2></center>
    <center><div class="fakeimg row2">
        <div class="column2 left2">
            <p><strong>Placed On:</strong> 12th September, 2021</p>
            <p><strong>Service Type:</strong> Delivery Package</p>
            <p><strong>Package Duration:</strong> 3 Months</p>
            <p><strong>Expires On:</strong> 13th December, 2021</p>
        </div>
        <div class="column2 right2">
            <p><strong>Payment:</strong> Rs. 1500</p>
            <p><strong>Pick-Up Address:</strong> Sadhana Building, Vasant Complex, Mahavir Nagar, Kandivali (W)</p>
            <p><strong>Drop-Off Address:</strong> Sadhana Building, Vasant Complex, Mahavir Nagar, Kandivali (W)</p>
        </div>
        <div class="btn-group">
            <center><button>Edit Address</button>
            <button>Schedule a Holiday</button></center>
        </div>
    </div></center>
    <br><br>

    <center>
        <h2 style="font-size:30px; color:black; margin-left: 30px;">Live Location</h2>
    </center>
    <center><div id="map"></div></center>
    <br><br>

    <center><footer id="footer">
        <div class="copyright">
            <p>© All rights reserved | My Dabbawala</p>
            <ul class="contact">
                <li>
                    <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                    <a href="#" class="fa fa-instagram"></a>
                </li>
            </ul>
        </div>
    </footer></center>

    <script>
        // TO MAKE THE MAP APPEAR YOU MUST
        // ADD YOUR ACCESS TOKEN FROM
        // https://account.mapbox.com
        mapboxgl.accessToken = 'pk.eyJ1IjoibXlkYWJiYXdhbGEiLCJhIjoiY2t0a2VuMHRxMDI4bzJvbjI3NG1hNXFiZyJ9.T2oOFPPEG5GZhr0mv-H2aA';
        const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
        });
    </script>

</body>
</html>
