<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Packages</title>
    <link rel="stylesheet" href="CSS/packages.css">
    <link rel="stylesheet" href="CSS/navbar.css">
    <script type="text/javascript" src="js/location.js"></script>
    <link href="https://fonts.googleapis.com/css2? family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include('./navbar'); %>

        <input style="display: none;" type="text" id="latitude">
        <input style="display: none;" type="text" id="longitude">

        <div class="bg-img">
            <div class="form-container">
                <center>
                    <h1 class="l-header h1 ship" style="font-size: 40px; color: white">Get Your Dabba Delivered
                        Everyday!
                    </h1>
                </center>
                <form>
                    <div class="row">
                        <div class="inline-block right-margin">
                            <div class="label">Receipient Name <span id="recepient_name" class="info"></span></div>
                            <input type="text" class="input-field" name="recepient-name" id="recepient-name"
                                placeholder="Enter Receipient Name" required />
                        </div>

                        <div class="inline-block responsive">
                            <div class="label">Receipient Phone No. <span id="phone" class="info"></span></div>
                            <input type="tel" class="input-field" name="phone" id="phone"
                                placeholder="Enter Receipient Phone No." pattern="[0-9]{10}" required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="inline-block right-margin">
                            <div class="label">Pick-Up Address <span id="pickup" class="info"></span></div>
                            <textarea name="pickup" id="pickup" class="input-field" cols="60" rows="6"
                                placeholder="Enter Pick-Up Address" required></textarea>
                        </div>

                        <div class="inline-block responsive">
                            <div class="label">Drop-Off Point <span id="dropoff" class="info"></span></div>
                            <textarea name="dropoff" id="dropoff" class="input-field" cols="60" rows="6"
                                placeholder="Enter Drop-Off Address" required></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inline-block right-margin">
                            <div class="label" style="margin-left: 300px;">Package Duration <span id="subject-info"
                                    class="info"></span></div>
                            <div class="input-field-radio">
                                <div>
                                    <input type="radio" name="duration" class="subject-option" id="duration1"
                                        value="3-months" />3 months
                                </div>
                                <div>
                                    <input type="radio" name="duration" class="subject-option" id="duration2"
                                        value="6-months" />6 months
                                </div>
                                <div>
                                    <input type="radio" name="duration" class="subject-option" id="duration3"
                                        value="1 year" />1 year
                                </div>
                            </div>
                        </div>
                    </div>

                    <center>
                        <input type="submit" name="submit" class="btn" value="Submit" />
                    </center>
                </form>
            </div>
        </div>

        <div id="how-it-works" class="l-section wf-section">
            <div class="l-container">
                <h2 class="l-header h1 ship">How It Works</h2>
                <div class="l-three-grid">
                    <div class="div-block-189">
                        <div class="l-number">1</div>
                        <h3 class="l-header h3">Enter Details</h3>
                        <p class="l-paragraph l-write l-first-step">Enter the details like recepient name and contact
                            number, the pick-up point and the drop-off point.</p>
                    </div>
                    <div class="div-block-189">
                        <div class="l-number">2</div>
                        <h3 class="l-header h3">Choose Delivery Package</h3>
                        <p class="l-paragraph l-write l-first-step">Choose one of our delivery packages - 3 months, 6
                            months
                            and 1 year - according to your requirements.</p>
                    </div>
                    <div class="div-block-189">
                        <div class="l-number">3</div>
                        <h3 class="l-header h3">Select Nearest Dabbawala</h3>
                        <p class="l-paragraph l-write l-first-step">Select a dabbawala from all the nearest dabbawalas
                            available.</p>
                    </div>
                </div>
            </div>
        </div><br><br><br>

        <div id="how-it-works" class="l-section wf-section">
            <div class="l-container">
                <div class="l-three-grid">
                    <div class="div-block-189">
                        <div class="l-number">4</div>
                        <h3 class="l-header h3">Make The Payment</h3>
                        <p class="l-paragraph l-write l-first-step">You will have to complete the payment for the
                            selected
                            delivery package to proceed.</p>
                    </div>
                    <div class="div-block-189">
                        <div class="l-number">5</div>
                        <h3 class="l-header h3">Delivery Package Confirmed</h3>
                        <p class="l-paragraph l-write l-first-step">Your delivery package will be confirmed! The
                            Dabbawala
                            will now deliver your dabba everyday for the package duration chosen.</p>
                    </div>
                    <div class="div-block-189">
                        <div class="l-number">6</div>
                        <h3 class="l-header h3">Access Features</h3>
                        <p class="l-paragraph l-write l-first-step">You can then access various features such as
                            tracking
                            your dabba everyday, notifications, scheduling holidays, etc.</p>
                    </div>
                </div>
            </div>
        </div><br><br><br><br><br><br>

        <footer id="footer">
            <div class="copyright">
                <p>© All rights reserved | My Dabbawala</p>
                <ul class="contact">
                    <li>
                        <a href="#" class="fa fa-twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-facebook"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-instagram"></a>
                    </li>
                </ul>
            </div>
        </footer>
</body>

</html>