/* Background image */
.signup_background{
    background-image: url("../images/join_dabba_back.jpg");
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 93vh;
}

/* Form starts */
.signup_container{
    position: center;
    padding: 50px;
    margin-top: -30px;
}

/* Title */
.signup_container h1{
    text-align: center;
    font-size: 30px;
}

/* Form title */
.signup_container h1, label{
    color: #000000;
}

/* Labels */
.signup_container label{
    font-size: 20px;
    margin-left: 510px;
}

/* Inputs */
.signup_container input{
    height: 32px;
    width:400px;
    opacity: 0.5;
    border-radius: 10px;
    color: #270101;
    font-size: 17px;
}

.signup_container input::placeholder{
    color: #270101;
    font-size: 17px;
    padding: 12px;
}

.signup_container p{
    font-size: 19px;
    color: white;
}

.signup_container p a{
    color: white; 
}

/* Buttons */
.signup_container button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    position: center;
    background-color: #fa3131;
    border: 1px solid #fa3131;
    font-size: 20px;
}
.signup_container button:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* DropDown Menu */
.drop_down {
    position: absolute;
    top: 79.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .drop_down select {
    background-color: #e94f4f;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .drop_down::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
.drop_down:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}
  
  .drop_down select option {
    padding: 30px;
    height: 200px;
}

/* Input File */
.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    display: none;
  }
  
.file-input label {
    display: block;
    position: relative;
    width: 150px;
    height: 38px;
    border-radius: 25px;
    margin-left: 730px;
    margin-top: -35px;
    background: linear-gradient(40deg,#ff6e6e,#d8d7f3);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #270101;
    cursor: pointer;
    transition: transform .2s ease-out;
}

.file-name {
    position: absolute;
    bottom: -25px;
    left: 165px;
    font-size: 0.8rem;
    color: #555;
}
