* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    /*background: #1abc9c;*/
    color: white;
    background-image: url("../Images/db.jpg");
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30%;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    margin-left: 587.5px;
    width: 40%;
    background: #f1f1f1;
  }
  
  .btn {
    float: right;
    width: 10%;
    padding: 10px;
    background: #fa3131;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #fa3131;
  }

  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 80%; /* IE10 */
    flex: 80%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    border-radius: 25px;
    width: 100%;
    padding: 20px;
  }
  
  .column2 {
  float: left;
  padding: 10px;
  }
  
  .left2 {
  width: 35%;
  }
  
  .right2 {
  width: 40%;
  }
  
  /* Clear floats after the columns */
  .row2:after {
  content: "";
  display: table;
  clear: both;
  }
  
   /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
  }
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

    .details_btn {
    background : #fa3131;
    border: 1px solid transparent;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    right: 50px;
    margin-top: 130px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight:bold;
    transition: 0.3s ;
    border-radius: 10px;
}

.details_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.details_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.details_btn:hover span {
  padding-right: 25px;
  opacity: 1.5;
}

.details_btn:hover span:after {
  opacity: 1.5;
  right: 0;
}

.button1 {
  border: none;
  border-radius: 10px;
  outline: 0;
  margin-right: auto;
  display: inline-block;
  padding: 5px 15px;
  color: white;
  background-color: #fa3131;
  border: 1px solid #fa3131;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  }
  
  .button1:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
  }

  .copyright
{
  overflow: hidden;
  padding: 3em 0em;
  text-align: center;
  background: #333;
}
.copyright p
{
  letter-spacing: 1px;
  font-size: 0.90em;
  color: white;
}
.copyright a
{
  text-decoration: none;
  color: white;
}

ul.contact{
margin: 0;
padding: 2em 0em 0em 0em;
list-style: none;
}

ul.contact li{
display: inline-block;
padding: 0em 0.10em;
font-size: 1em;
}

ul.contact li a{
color: #FFF;
display: inline-block;
background: black;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
}
