body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.nav {
    overflow: hidden;
    background-color: #333;
  }
  
.nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
  }
  
.nav a:hover {
    background-color: white;
    color: black;
  }
  
.nav a.active {
    background-color: #fa3131;
    color: white;
  }

.logo {
    float: right;
    vertical-align: top;
    width: 50px;
    height: 40px;
    margin-right: 10px;
    margin-top: 6px;  
  }

.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: #fa3131;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
  }
  
.hero-text button:hover {
    background-color: white;
    color: black;
  }

.image
{
  height: 300px;
}

.copyright
{
    overflow: hidden;
    padding: 3em 0em;
    text-align: center;
    background: #fa3131;
}
.copyright p
{
    letter-spacing: 1px;
    font-size: 0.90em;
    color: white;
}
.copyright a
{
    text-decoration: none;
    color: white;
}
ul.contact{
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}
ul.contact li{
	display: inline-block;
	padding: 0em 0.10em;
	font-size: 1em;
}
ul.contact li a{
	color: #FFF;
	display: inline-block;
	background: black;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
